*{
    padding: 0;
    margin: 0;
}

table{
    
    margin-top:100px
}

table img{
    max-width: 150px;
}
td{
    padding: 10px 15px!important;
}



.row .btn-warning{
    margin-right: 50px;
}
.sticky-top .nav-item{
    font-size: 14px;
}

.content{
    padding: 160px 130px;
    padding-top: 200px;
}

.advantages dt{
    font-size: 20px;
    font-weight: bold;
}
li {
    list-style-type: none;
}
ul {
    margin-left: 0;
    padding-left: 0;
}
.sticky-top{
    top: 4em;
    padding: 10px 15px;

}
.jumbotron{
    background: linear-gradient(to right, #023166, #024693);
    margin-top: 50px;
    color: #fff;
}
.jumbotron .py-2{
    width: 340px;
}
.jumbotron .py-2 a{
    font-weight: bold;
}
.jumbotron .marks{
    margin-top: 20px;
}
.marks span{
    margin-right: 30px;
}
.mark{
    background: #fff;
    font-weight: bold;
    color: dimgray;
}
.teach{
    margin-top: 20px;
}
.teach p{
    margin-bottom: 0;
}
.teach dt .no{
    color: dimgray;
}
.skills{
    border: 1px solid grey;
    padding: 10px 20px;
}
.skills li{
    display:inline-block;
    margin-right: 25px;
    margin-top: 15px;
    border-radius:10px;
    padding: 3px 10px;
    background-color: lightgrey;
}
.btn-warning{
    width: 260px;
    display: inline-block;
    margin-left: 15px;
}

.nav-link.active{
    color: #2a73cc;
    font-weight: bold;
}
.nav-link{
    color: #373a3c;
}
.navbar-nav {
    width: 100%;
}
.hidden{
    display: none
}
.nav-item.dropdown{
    background-color: #2a73cc;
    font-weight: bold;
}
.navbar-brand{
    color: #2a73cc!important;
    font-weight: 900;
}
.btn-warning{
    font-weight: bold;
}
.nav-item.dropdown #navbarDropdownMenuLink{
    color: #fff;
}
.btn-primary{
    background-color:#2a73cc;
    font-weight: bold;
}
nav{
    padding: 20px 30px!important;
}
.part-left li{
    margin-right: 15px;
}
p.dropdown-item{
    margin: 5px 0;
}
.but{
    display: block;
    width: 250px;
    margin: 0 20px;
    margin-top: 10px;
    border:1px solid #2a73cc;
    padding:3px 5px;
    color:#2a73cc;
}
.but:hover{
    background-color:#2a73cc;
    color: #fff;
}
.justify-content-end .nav-item{
    margin-left: 15px;
}
.justify-content-end .nav-link{
    color: #000!important;
}
nav.navbar .dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown-menu p{
    font-weight: bold;
}
.sub{
    display: block;
    width: 100%;
}
a{
    color: #fff;
}
a:hover{
    color: #fff;
}
nav a:hover{
    color: grey;
}
@media(max-width: 500px){
    #navbarSearch{
        display: none;
    }
}
.ad{
    display: block;
}
.advantages dt{
    font-weight:500;
}
.advantages .a::before{
    content:"";
    float: left;
    background:url("img/a.png") 50% 0% no-repeat;
    display:block;
    width:90px;
    height:120px;
    background-size: 90%;
    margin-left: 3px;
}
.advantages .b::before{
    content:"";
    float: left;
    background:url("img/b.png") 50% 50% no-repeat;
    display:block;
    width:90px;
    height:120px;
    background-size: 90%;
    margin-left: 3px;
}
.advantages .c::before{
    content:"";
    float: left;
    background:url("img/c.png") 50% 50% no-repeat;
    display:block;
    width:90px;
    height:120px;
    background-size: 90%;
    margin-left: 3px;
}
.advantages .d::before{
    content:"";
    float: left;
    background:url("img/d.png") 50% 50% no-repeat;
    display:block;
    width:90px;
    height:120px;
    background-size: 90%;
    margin-left: 3px;
}
.advantages .e::before{
    content:"";
    float: left;
    background:url("img/e.png") 50% 50% no-repeat;
    display:block;
    width:90px;
    height:120px;
    background-size: 90%;
    margin-left: 3px;
}
.advantages .f::before{
    content:"";
    float: left;
    background:url("img/f.png") 50% 50% no-repeat;
    display:block;
    width:90px;
    height:120px;
    background-size: 90%;
    margin-left: 3px;
}
.advantages .g::before{
    content:"";
    float: left;
    background:url("img/g.png") 50% 50% no-repeat;
    display:block;
    width:80px;
    height:150px;
    background-size: 90%;
    margin-left: 3px;
}

.row{
    margin:20px 0;
}
.navbar-light{
    background:#fff;
    border-bottom: 1px solid grey;
}